/.pytest_cache
/368.py
/average.py
/calculator.py
/cat.py
/compare.py
/costumes.gif
/costumes.py
/downloaded python
/format.py
/generate.py
/grade.py
/hello.py
/hogwarts.py
/house.py
/itunes.py
/mario.py
/Matrix Tool.py
/mygame.py
/name.py
/names.csv
/names.py
/names.txt
/NEWS.txt
/number.py
/oddsMethods.py
/palNum.py
/parity.py
/part1.gif
/part2.gif
/Primes.py
/say.py
/sayings.py
/storage.csv
/students.csv
/students.py
/test
/test.py
/test2.py
/test3.py
/TestDocument.pdf
/tester.py
/testingPull.py
/test_calculator.py
/test_hello.py
/tutorial-example.pdf
/twitter.py
/validate.py
/while.py
/__pycache__